// Bootstrap Framework.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

/*=============================================>>>>>
= Custom CSS =
===============================================>>>>>*/


/*----------- header-navbar -----------*/
header.navbar {
  border-top: 5px solid @brand-primary;
}

.navbar-search {
  background-color: @field-bg;
  border-color: @field-bg;
  color: @field-input-color;
}

.dropdown-menu > li > a {
  color: @navbar-inverse-color;
}

.dropdown-menu > li > a:hover {
  color: @navbar-inverse-link-hover-color;
}

/*----------- content related -----------*/
header .container-fluid {
  background-color: @brand-primary;
}

.region-frontimage img {
  box-shadow: 0px 20px 0px #000;
}

.page-header {
  margin-bottom: 0px;
  border: none;
}

.recent-item {
  border-left: 10px solid @dark-bg;
  margin: 10px 10px 20px 0px;
  padding: 0px 10px 5px 10px;
  overflow: auto;

  .views-field {
    .fa {
      margin-right: 5px;
    }
  }

  .views-field-title {
    h3 {
      margin-top: 0px;
    }
  }

  .views-field-field-image {
    float: left;
    margin-top: 3px;
    margin-right: 10px;
    width: 80px;
  }

  .views-field-field-video-link {
    width: 50%;
    float: left;
    margin-top: 3px;
    margin-right: 10px;
  }
}

.videos-list {
  height: 230px;
}

.content {
  .field--name-body {
    margin-top: 5px;
  }

  .field--name-field-image {
    float: right;
  }
}

.article-tags {
  .tag-item {
    margin-left: 3px;
  }
}

/*----------- Forms-----------*/
.views-exposed-form {
  .control-label {
    margin-right: 5px;
  }

  button {
    margin-left: 5px;
  }
}

.ui-widget-content {
  .ui-menu-item {
    a {
      color: @text-color;
    }
    &.ui-state-active, &.ui-state-focus {
      a {
        color: @gray-darker;
      }
    }
  }
}

/*----------- Footer -----------*/
/* Sticky footer styles
-------------------------------------------------- */
.footer {
  border-top: 2px solid darken(@dark-bg, 1%);
  background-color: @dark-bg;
}

.footer .nav > li > a {
  padding: 1px;
}

.footer .nav > li > a:hover {
  background-color: @body-bg;
}

/*----------- Utility classes -----------*/
.font-awesome-round-bg-blue {
  color: @fa-bg-blue;
}
.font-awesome-round-bg-green {
  color: @fa-bg-green;
}
.font-awesome-round-bg-orange {
  color: @fa-bg-orange;
}
.font-awesome-round-bg-pink {
  color: @fa-bg-pink;
}

.gray-bg {
  background-color: @gray-darker;
}

.border-bottom {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid @dark-bg;
}
.border-bottom-dotted {
  display: inline-block;
  border-bottom: 2px dashed @brand-primary;
  text-decoration: none;
}
.border-bottom-dotted:hover, .border-bottom-dotted:focus {
  border-bottom: 2px dashed @brand-primary;
  text-decoration: none;
}
.border-top {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid @dark-bg;
}

.image-wrapper {
  padding-bottom: 10px;
}

.img-responsive {
  box-shadow: 4px 4px 2px @gray-darker;
  margin-bottom: 5px;
  width: 100%;
}

.responsive-container {
  position: relative;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.responsive-container-16x9 {
  padding-bottom: 56.25%;
}

.responsive-container-4x3 {
  padding-bottom: 75%;
}

.follow-social-icon {
  background-color: @social-icon !important;
  padding-right: 2px;
}

.fa-stack-1x {
    color: @white-bg;
}
.icon-facebook {
   color: @facebook;
}

.icon-twitter {
    color: @twitter;
}

.icon-youtube{
    color: @youtube;
}

.icon-github {
  color: @github;
}

.icon-rss {
  color: @rss;
}

.italics-small {
  font-size: @font-size-small;
  font-style: italic;
  color: @gray-lighter;
}

.display-inline {
  display: inline-block;
}

.margin-bottom {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.margin-top {
  margin-top: 10px;
  padding-top: 5px;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

.bubble-wrap {
  width: auto;
  border-radius: 3px;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid @dark-bg;
  background: @dark-bg;
  float: left;
}
